<div class="row">
  <div class="col-4">
    One Way - from .ts to .html
  </div>
  <div class="col-4">

  </div>
  <div class="col-4">

  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="row p-4">
      <div class="col-4 m-2">
         Interpolation
        <p class="mt-2">{{courseName}}</p>
        <div>
          {{inputType}}
        </div>
        <input type="text" value="{{courseName}}" placeholder="Enter ..." />
        <input type="{{inputType}}" />
      </div>
      <div class="col-4 m-2">
          Property Bining

          <div class="mt-2" [class]="myClassName" >
             Danger
          </div>

          <input type="text" [value]="courseName" placeholder="Enter ..." />

          <input [type]="inputType" />

      </div>
    </div>
    <div class="col-4">
      <button class="btn btn-success m-2"  (click)="showAlert('Welcome Bro')" > Show Alert</button>
      <button class="btn btn-success m-2"  (click)="changeCourseName()" >Change Course Name</button>
   </div>
  </div>
  <div class="col-6">

       Two way Binding

        <br>

       <input class="mt-2" type="text" [(ngModel)]="courseName" /> - {{courseName}}    <!-- two Way Binding  -->

       <select [(ngModel)]="stateName" >

        <option value="">Select</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Goa">Goa</option>
        <option value="Punjab">Punjab</option>

       </select>

  </div>
  <div class="col-6">
      Using Signal
      <h2 class="mt-2">{{firstName()}}</h2>  <!-- 3rd Way of data binding -->
  </div>
</div>
